./.git/*..exe
./.git/*..tds
./.git/*..obj
./.git/*..class
./.git/*..mk
./.git/hooks/*..exe
./.git/hooks/*..tds
./.git/hooks/*..obj
./.git/hooks/*..class
./.git/hooks/*..mk
./.git/info/*..exe
./.git/info/*..tds
./.git/info/*..obj
./.git/info/*..class
./.git/info/*..mk
./.git/logs/*..exe
./.git/logs/*..tds
./.git/logs/*..obj
./.git/logs/*..class
./.git/logs/*..mk
./.git/logs/refs/*..exe
./.git/logs/refs/*..tds
./.git/logs/refs/*..obj
./.git/logs/refs/*..class
./.git/logs/refs/*..mk
./.git/logs/refs/heads/*..exe
./.git/logs/refs/heads/*..tds
./.git/logs/refs/heads/*..obj
./.git/logs/refs/heads/*..class
./.git/logs/refs/heads/*..mk
./.git/logs/refs/remotes/*..exe
./.git/logs/refs/remotes/*..tds
./.git/logs/refs/remotes/*..obj
./.git/logs/refs/remotes/*..class
./.git/logs/refs/remotes/*..mk
./.git/logs/refs/remotes/origin/*..exe
./.git/logs/refs/remotes/origin/*..tds
./.git/logs/refs/remotes/origin/*..obj
./.git/logs/refs/remotes/origin/*..class
./.git/logs/refs/remotes/origin/*..mk
./.git/objects/*..exe
./.git/objects/*..tds
./.git/objects/*..obj
./.git/objects/*..class
./.git/objects/*..mk
./.git/objects/27/*..exe
./.git/objects/27/*..tds
./.git/objects/27/*..obj
./.git/objects/27/*..class
./.git/objects/27/*..mk
./.git/objects/28/*..exe
./.git/objects/28/*..tds
./.git/objects/28/*..obj
./.git/objects/28/*..class
./.git/objects/28/*..mk
./.git/objects/42/*..exe
./.git/objects/42/*..tds
./.git/objects/42/*..obj
./.git/objects/42/*..class
./.git/objects/42/*..mk
./.git/objects/74/*..exe
./.git/objects/74/*..tds
./.git/objects/74/*..obj
./.git/objects/74/*..class
./.git/objects/74/*..mk
./.git/objects/cc/*..exe
./.git/objects/cc/*..tds
./.git/objects/cc/*..obj
./.git/objects/cc/*..class
./.git/objects/cc/*..mk
./.git/objects/info/*..exe
./.git/objects/info/*..tds
./.git/objects/info/*..obj
./.git/objects/info/*..class
./.git/objects/info/*..mk
./.git/objects/pack/*..exe
./.git/objects/pack/*..tds
./.git/objects/pack/*..obj
./.git/objects/pack/*..class
./.git/objects/pack/*..mk
./.git/refs/*..exe
./.git/refs/*..tds
./.git/refs/*..obj
./.git/refs/*..class
./.git/refs/*..mk
./.git/refs/heads/*..exe
./.git/refs/heads/*..tds
./.git/refs/heads/*..obj
./.git/refs/heads/*..class
./.git/refs/heads/*..mk
./.git/refs/remotes/*..exe
./.git/refs/remotes/*..tds
./.git/refs/remotes/*..obj
./.git/refs/remotes/*..class
./.git/refs/remotes/*..mk
./.git/refs/remotes/origin/*..exe
./.git/refs/remotes/origin/*..tds
./.git/refs/remotes/origin/*..obj
./.git/refs/remotes/origin/*..class
./.git/refs/remotes/origin/*..mk
./.git/refs/tags/*..exe
./.git/refs/tags/*..tds
./.git/refs/tags/*..obj
./.git/refs/tags/*..class
./.git/refs/tags/*..mk
./MuseScore/*..exe
./MuseScore/*..tds
./MuseScore/*..obj
./MuseScore/*..class
./MuseScore/*..mk
./MuseScore/et/*..exe
./MuseScore/et/*..tds
./MuseScore/et/*..obj
./MuseScore/et/*..class
./MuseScore/et/*..mk
./MuseScore/g/*..exe
./MuseScore/g/*..tds
./MuseScore/g/*..obj
./MuseScore/g/*..class
./MuseScore/g/*..mk
./MuseScore/p/*..exe
./MuseScore/p/*..tds
./MuseScore/p/*..obj
./MuseScore/p/*..class
./MuseScore/p/*..mk
./MuseScore/p/log/*..exe
./MuseScore/p/log/*..tds
./MuseScore/p/log/*..obj
./MuseScore/p/log/*..class
./MuseScore/p/log/*..mk
./MuseScore/p/STOR_p/*..exe
./MuseScore/p/STOR_p/*..tds
./MuseScore/p/STOR_p/*..obj
./MuseScore/p/STOR_p/*..class
./MuseScore/p/STOR_p/*..mk
./MuseScore/P_new/*..exe
./MuseScore/P_new/*..tds
./MuseScore/P_new/*..obj
./MuseScore/P_new/*..class
./MuseScore/P_new/*..mk
./MuseScore/P_new2/*..exe
./MuseScore/P_new2/*..tds
./MuseScore/P_new2/*..obj
./MuseScore/P_new2/*..class
./MuseScore/P_new2/*..mk
./MuseScore/s/*..exe
./MuseScore/s/*..tds
./MuseScore/s/*..obj
./MuseScore/s/*..class
./MuseScore/s/*..mk
./MuseScore/s/log/*..exe
./MuseScore/s/log/*..tds
./MuseScore/s/log/*..obj
./MuseScore/s/log/*..class
./MuseScore/s/log/*..mk
./MuseScore/s/sp/*..exe
./MuseScore/s/sp/*..tds
./MuseScore/s/sp/*..obj
./MuseScore/s/sp/*..class
./MuseScore/s/sp/*..mk
./MuseScore/s/STOR_s/*..exe
./MuseScore/s/STOR_s/*..tds
./MuseScore/s/STOR_s/*..obj
./MuseScore/s/STOR_s/*..class
./MuseScore/s/STOR_s/*..mk
./opuses/*..exe
./opuses/*..tds
./opuses/*..obj
./opuses/*..class
./opuses/*..mk
./styles/*..exe
./styles/*..tds
./styles/*..obj
./styles/*..class
./styles/*..mk
./works/*..exe
./works/*..tds
./works/*..obj
./works/*..class
./works/*..mk
